.Button {
  background: #333;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}

.Button:hover {
  filter: brightness(120%);
  transform: scale(1.05);
}

.Button.zero {
  width: 190px;
  grid-column: 1 / span 2;
  border-radius: 50.5px;
  position: relative;
  justify-content: flex-start;
  padding-left: 31px;
}

.Button.function {
  color: black;
  background: #a5a5a5;
}

.Button.operator {
  background: #f1a33c;
}
